* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.btn-grid {
  display: grid;
  gap: 20px;
}
.controls h2 {
  font-size: larger;
  justify-content: center;
  display: flex;
  text-align: center;
}
#button {
  justify-content: center;
}
.hide {
  display: none;
}
p {
  float: right;
}
